.bg-header{
    background-color: orangered;
}
.center{
    text-align: center;
}
.section{
    background-color: rgb(165, 165, 86);
}
.table{
    width: 100%;
}
.row{
    background-color: gainsboro;
}
.body{
    background-color: rgb(119, 234, 221);
}